# ================== DATABASE ==================
DATABASE_URL="mysql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>"
# Example: mysql://root:password@localhost:3306/my_database

# ================== REDIS ==================
REDIS_HOST=<REDIS_HOST>        # e.g. localhost
REDIS_PORT=<REDIS_PORT>        # e.g. 6379
REDIS_PASSWORD=<REDIS_PASSWORD>

# ================== YOUTUBE ==================
YOUTUBE_API_KEY=<YOUTUBE_API_KEY>
# Example: AIzaSyXXXXXXX